@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>
    <div>
        <p><a href="/ManagementCars">ManagmentCars (Demo)</a>. "Add button on header on start page" цю частину не дуже зрозумів, але кнопку додав тут...</p>
        <p><a href="/Hobbies">Hobbies list HW</a>.</p>
        <p><a href="/About">About HW</a>.</p>
    </div>
</div>