.hw-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-image: url("imgs/background.jpg");
}

.hw-title {
    color: white;
    font-weight: 700;
    font-size: 2.5em;
    font-family: 'Cascadia Code';
}

.hw-description {
    width: 70vh;
    color: white;
    text-align: center;
}

.hw-common {
    margin: 10px 10px 10px 10px;
}

/* ******* LINKS SECTION ******* */
.hw-links-container {
    width:100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hw-link {
    max-width: 150px;
    max-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-radius: 15%;
    box-shadow: 2px 2px 2px #888888;
    flex: 1;
}

.hw-link-content {
    text-align: center;
}

.hw-link-content-text {
    color: black;
    text-transform: uppercase;
    font-weight: 700;
}

/* ******* BUTTONS SECTION ******* */
.hw-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
.hw-button-aboutus, .hw-button-ourworks {
    max-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    padding: 10px;
    border-radius: 50px;
    background-color: white;
    font-weight: 700;
    flex: 1;
}

.hw-button-aboutus:hover, .hw-button-ourworks:hover{
    background-color: transparent;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: inherit;
}