@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/@(nameof(HTML_CSS)).styles.css" />

<div class="hw-common hw-body">
	<div class="hw-common hw-title">
		Design Services
	</div>
	<div class="hw-common hw-description">
		To install EF Core, you install the package for the EF Core database provider(s) you want to target. This tutorial uses SQLite because it runs on all platforms that .NET Core supports. For a list of available providers, see Database Providers.
	</div>
	<div class="hw-common hw-buttons">
		<div class="hw-common hw-button-aboutus">
			<div>About us</div>
		</div>
		<div class="hw-common hw-button-ourworks">
			<div>Our works</div>
		</div>
	</div>
	<div class="hw-common hw-links-container">
		<div class="hw-common hw-link">
			<div class="hw-link-content">
				<img src="imgs/simple.png" alt="Our Works">
				<div class="hw-link-content-text">Simple</div>
			</div>
		</div>
		<div class="hw-common hw-link">
			<div class="hw-link-content">
				<img src="imgs/nocoding.png" alt="Our Works">
				<div class="hw-link-content-text">No coding</div>
			</div>
		</div>
		<div class="hw-common hw-link">
			<div class="hw-link-content">
				<img src="imgs/sites.png" alt="Our Works">
				<div class="hw-link-content-text">500+ sites</div>
			</div>
		</div>
		<div class="hw-common hw-link">
			<div class="hw-link-content">
				<img src="imgs/gifts.png" alt="Our Works">
				<div class="hw-link-content-text">Gifts</div>
			</div>
		</div>
	</div>


</div>